<!-- menu -->

<nav class="navbar navbar-expand-lg navbar-light bg-dark No shadow">
    
    <a class="navbar-brand text-white" href="#"><H1>HELIREP</H1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">SOLICITAR</a>
              </li>
            </ul>

          <form class="form-inline my-2 my-lg-0 bg-transparent">
              <input class="form-control mr-sm-2 " type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-success my-2 my-sm-0" type="submit">BUSCAR</button>
          </form>

    </div>
</nav>
<!-- fin menu -->

<div class="container" >
      <h1 class="text-dark text-center">USUARIOS</h1>

      <hr>
      <br>

         <div class="col-sm-11  col-md-5 offset-md-7 offset-sm-1">
          <form class="form-inline bg-transparent">
             <input class="form-control mr-sm-1 col-md-8  col-sm-7 col-12" type="search" placeholder="Buscar" aria-label="Search">
             <button class="btn btn-info my-2 my-sm-0 col-12 col-md-3  col-sm-3" type="submit">BUSCAR</button>
          </form> 
      </div>

      <br>
      <br>

      <table class="table table-hover" ng-app="">
        <thead>
          <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">CARGO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td ng-repeat=""></td>
            <td><button class="btn btn-success my-2 my-sm-0">Ver</button><button class="btn btn-info my-2 my-sm-0">Editar</button></td> 
          </tr>
        </tbody>
      </table>

</div>
