<!-- menu -->

<nav class="navbar navbar-expand-lg navbar-light bg-dark No shadow">
    
    <a class="navbar-brand text-white" href="#"><H1>HELIREP</H1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light" href="#">SOLICITAR</a>
              </li>
            </ul>

          <form class="form-inline my-2 my-lg-0 bg-transparent">
              <input class="form-control mr-sm-2 " type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-success my-2 my-sm-0" type="submit">BUSCAR</button>
          </form>

    </div>
</nav>
<!-- fin menu -->


<div class="">
    <h1 class="display-2 text-center bg-info text-white">BIENVENIDO A HELIREP</h1>
</div>


<div class="jumbotron">
    <h1 class="display-5 text-center">PERFIL MECANICO</h1>
    <p class="lead text-center">Helirep es un sistema de control de inventarios y de traspaso de repuestos de una empresa de helicopteros  </p>
    <hr class="my-4">
    <p><a href="">descripcion breve de lo que se puede hacer  del sistema </a> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>











